.aside-left--fixed {
  position: fixed;
}

.sidebar-animated {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.left-side {
  transform: translateX(0) !important; // translate to MINUS sideMenu width
  -webkit-transform: translateX(0) !important; // translate to MINUS sideMenu width
}
.left-side.collapse-left {
    transform: translateX(-220px) !important; // translate to MINUS sideMenu width
    -webkit-transform: translateX(-220px) !important; // translate to MINUS sideMenu width
}
