.fixed--header {
  position: fixed;
}

@media screen and (max-width: 990px) {
  a.logo {
    width: 0px !important;
  }

  .navbar {
    margin: {
      left: 0px !important;
    }
    padding: {
      left: 0px !important;
    } 
  }
}