// //////////////////////////////////////////////
//  variables
// //////////////////////////////////////////////

/*
  General colors:
*/
$RED: #f05050;
$MAIN_RED: #f56954;
$WHITE: #FFF;
$BLUE: #4697ce;
$MAIN_BLUE: #0073b7;
$LIGHT_BLUE: #3c8dbc;
$GREEN: #27C24C;
$MAIN_GREEN: #00a65a;
$YELLOW: #fad733;
$MAIN_YELLOW: #f39c12;
$AQUA: #00c0ef;
$PURPLE: #7266ba;
$TEAL: #39cccc;
$PURPLE: #932ab6;
$MAIN_BLACK: #222222;
$MAIN_MAROON: #85144b;
$DARK_BLACK: #000000;

/*
  Styling vars
*/
$BODY_BACKGROUND_COLOR: #F1F2F3;
$FONT_FAMILLY: 'Lato',
sans-serif;

$NAV_BAR_A_LOGO_FONT_FAMILY: 'Kaushan Script',
cursive;
;


$LINK_COLOR: $LIGHT_BLUE;
$LINK_SELECTED_COLOR: #72afd2;

$LEFT_SIDE_BAR_WIDTH: 220px;
$HEADER_HEIGHT : 50px;

$CONTENT_BACKGROUND_COLOR: #f0f3f4;
$CONTENT_PADDING: 20px 15px;

$PAGE_HEADER_FONT_SIZE: 22px;
$PAGE_HEADER_SMALL_COLOR: #666;

$ALERT_DANGER_BACKGROUND_COLOR: #fad5d5;
$ALERT_SUCCESS_BACKGROUND_COLOR: #cffabd;
$ALERT_WARNING_BACKGROUND_COLOR: #fcf4c9;

$BADGE_SUCCESS_BACKGROUND_COLOR: $GREEN;
$BADGE_SUCCESS_COLOR: #DFF5E4;
$BADGE_WARNING_BACKGROUND_COLOR: $YELLOW;
$BADGE_WARNING_COLOR: #FDF8E5;
$BADGE_INFO_BACKGROUND_COLOR: #23B7E5;
$BADGE_INFO_COLOR: #E3F6FC;
$BADGE_DANGER_BACKGROUND_COLOR: $RED;
$BADGE_DANGER_COLOR: #FAE6E6;
$BADGE_PRIMARY_BACKGROUND_COLOR: $BLUE;
$BADGE_INVERSE_BACKGROUND_COLOR: #4f5259;
$BADGE_INVERSE_COLOR: #DFE2F0;

$LABEL_PRIMARY_BACKGROUND_COLOR: $BLUE;
$LABEL_DEFAULT_BACKGROUND_COLOR: #a1a1a1;
$LABEL_SUCCESS_BACKGROUND_COLOR: #27C24C;
$LABEL_SUCCESS_COLOR: #DFF5E4;
$LABEL_INFO_BACKGROUND_COLOR: #23B7E5;
$LABEL_INFO_COLOR: #E3F6FC;
$LABEL_INVERSE_BACKGROUND_COLOR: #4f5259;
$LABEL_INVERSE_COLOR: #DFE2F0;
$LABEL_WARNING_BACKGROUND_COLOR: $YELLOW;
$LABEL_WARNING_COLOR: #FDF8E5;
$LABEL_DANGER_BACKGROUND_COLOR: $RED;
$LABEL_DANGER_COLOR: #FAE6E6;

$BG_COLOR_COLOR: #f9f9f9;
$BG_WHITE_BACKGROUND_COLOR: $WHITE;
$BG_GREY_BACKGROUND_COLOR: #eaeaec;
$BG_BLACK_BACKGROUND_COLOR: $MAIN_BLACK;
$BG_RED_BACKGROUND_COLOR: $RED;
$BG_YELLOW_BACKGROUND_COLOR:$YELLOW;
$BG_AQUA_BACKGROUND_COLOR:#4FC1E9;
$BG_BLUE_BACKGROUND_COLOR:$MAIN_BLUE;
$BG_LIGHT_BLUE_BACKGROUND_COLOR:$LIGHT_BLUE;
$BG_GREEN_BACKGROUND_COLOR:$GREEN;
$BG_NAVY_BACKGROUND_COLOR:#001f3f;
$BG_TEAL_BACKGROUND_COLOR:$TEAL;
$BG_OLIVE_BACKGROUND_COLOR:#3d9970;
$BG_LIME_BACKGROUND_COLOR:#01ff70;
$BG_ORANGE_BACKGROUND_COLOR:#ff851b;
$BG_FUSHSIA_BACKGROUND_COLOR:#f012be;
$BG_PURPLE_BACKGROUND_COLOR:$PURPLE;
$BG_MAROON_BACKGROUND_COLOR:$MAIN_MAROON;
$BG_VIOLET_BACKGROUND_COLOR:#7266ba;
$BG_TWITTER_BACKGROUND_COLOR:#00c7f7;
$BG_FACEBOOK_BACKGROUND_COLOR:#335397;
$BG_GOOGLE_PLUS_BACKGROUND_COLOR:#df4a32;

$DROPDOWN_MENU_RIGHHT_COLOR: #39435c;

$TEXT_AREA_BORDER_COLOR: #EEE;

$TEAMMATES_LINK_COLOR: #505050;
$TEAMMATES_LI_BODER_COLOR: #edf1f2;
$TEAMMATES_LI_BODER_WIDTH: 1px;
$TEAMMATES_LI_BODER_STYLE: solid;

$TEXT_PRIMARY_COLOR: $BLUE;
$TEXT_INFO_COLOR: #63b7e6;
$TEXT_SUCCESS_COLOR: #7dcc93;
$TEXT_WARNING_COLOR: #e8db4f;
$TEXT_RED_COLOR: $MAIN_RED;
$TEXT_YELLOW_COLOR: $MAIN_YELLOW;
$TEXT_AQUA_COLOR: $AQUA;
$TEXT_BLUE_COLOR: $MAIN_BLUE;
$TEXT_BLACK_COLOR: $MAIN_BLACK;
$TEXT_LIGHT_BLUE_COLOR: $LIGHT_BLUE;
$TEXT_GREEN_COLOR: $MAIN_GREEN;
$TEXT_NAVY_COLOR: #001f3f;
$TEXT_TEAL_COLOR: $TEAL;
$TEXT_OLIVE_COLOR: #3d9970;
$TEXT_LIME_COLOR: #01ff70;
$TEXT_ORANGE_COLOR: #ff851b;
$TEXT_FUCHSIA_COLOR: #f012be;
$TEXT_PURPLE_COLOR: $PURPLE;
$TEXT_MAROON_COLOR: $MAIN_MAROON;

$SLIDER_HANDLE_BORDER_COLOR: #86D4FC;

$TABLE_STRIPED_BACKGROUND_COLOR: #f3f4f5;

$TEAL_GRADIANT_SECONDARY_COLOR: #7adddd;
$LIGHT_BLUE_GRADIANT_SECONDARY_COLOR: #67a8ce;
$MAIN_BLUE_GRADIANT_SECONDARY_COLOR: #0089db;
$AQUA_GRADIANT_SECONDARY_COLOR: #14d1ff;
$MAIN_YELLOW_GRADIANT_SECONDARY_COLOR: #f7bc60;
$MAIN_PURPLE_GRADIANT_SECONDARY_COLOR :#b959d9;
$MAIN_GREEN_GRADIANT_SECONDARY_COLOR: #00ca6d;
$MAIN_RED_GRADIANT_SECONDARY_COLOR: #f89384;
$MAIN_BLACK_GRADIANT_SECONDARY_COLOR: #3c3c3c;
$MAIN_MAROON_GRADIANT_SECONDARY_COLOR: #85144b;


// mixins:
@mixin html-body {
  overflow-x: hidden !important;
  font-family: $FONT_FAMILLY;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: $BODY_BACKGROUND_COLOR;
}

@mixin link-selected($color) {
  outline: none;
  text-decoration: none;
  color: $color;
}

@mixin layout-two-col-template {
  min-height: 100%;
  display: block;
}

@mixin back-color-table-striped {
  background-color: $TABLE_STRIPED_BACKGROUND_COLOR;
}

@mixin no-border {
  border: 0;
}

@mixin background-linear-gradiant($color1, $color2) {
  background: $color1 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $color1), color-stop(1, $color2)) !important;
  background: -ms-linear-gradient(bottom, $color1, $color2) !important;
  background: -moz-linear-gradient(center bottom, $color1 0%, $color2 100%) !important;
  background: -o-linear-gradient($color2, $color1) !important;
}

// theme:
html {
  @include html-body();
}

body {
  @include html-body();

  /* Header */
  section {
    div {
      header {
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // z-index: 1030;
        position: relative;
        max-height: 100px;
        z-index: 1030;

        .navbar {
          height: 50px;
          margin-bottom: 0;
          margin-left: 220px;

          .nav {
            &>li.user {
              &>a {
                &>.fa {
                  margin-right: 5px;
                }

                &>.glyphicon {
                  margin-right: 5px;
                }

                &>.ion {
                  margin-right: 5px;
                }
              }
            }

            &>li {
              &>a {
                &>.label {
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  position: absolute;
                  top: 7px;
                  right: 2px;
                  font-size: 10px;
                  font-weight: normal;
                  width: 15px;
                  height: 15px;
                  line-height: 1.0em;
                  text-align: center;
                  padding: 2px;
                }

                &:hover {
                  .label {
                    top: 3px;
                  }
                }
              }
            }
          }

          &>a.logo {
            float: left;
            font-size: 20px;
            line-height: 50px;
            text-align: center;
            padding: 0 10px;
            width: 220px;
            font-family: $NAV_BAR_A_LOGO_FONT_FAMILY;
            font-weight: 500;
            height: 50px;
            display: block;
          }

          .sidebar-toggle {
            float: left;
            padding: 9px 5px;
            margin-top: 8px;
            margin-right: 0;
            margin-bottom: 8px;
            margin-left: 5px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;

            &:hover {
              .icon-bar {
                background: #f6f6f6;
              }
            }

            .icon-bar {
              display: block;
              width: 22px;
              height: 2px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
            }

            .icon-bar+.icon-bar {
              margin-top: 4px;
            }
          }
        }

        .logo {
          .icon {
            margin-right: 10px;
          }
        }
      }
    }
  }

  /*
      By default the layout is not fixed but if you add the class .fixed to the body element
      the sidebar and the navbar will automatically become poisitioned fixed
  */
  .fixed {
    >.header {
      position: fixed;
    }

    .left-side {
      position: fixed;
    }

    .navbar {
      position: fixed;
      left: 0;
      right: 0;
    }

    >.header {
      top: 0;
      right: 0;
      left: 0;
    }

    .wrapper {
      margin: {
        top: $HEADER_HEIGHT;
      }
    }

    .sidebar-offcanvas {
      margin-top: 50px;
      left: -220px;
    }

    .row-offcanvas-left.active {
      .navbar {
        left: 220px !important;
        right: 0;
      }
    }

    .row-offcanvas-left.active {
      .sidebar-offcanvas {
        left: 0px;
      }
    }
  }
}

a {
  color: $LINK_COLOR;

  &:hover {
    @include link-selected($LINK_SELECTED_COLOR);
  }

  &:active {
    @include link-selected($LINK_SELECTED_COLOR);
  }

  &:focus {
    @include link-selected($LINK_SELECTED_COLOR);
  }
}

/* Layouts */
.wrapper {
  min-height: 100%;

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

/*right side - contins main content*/
.right-side {
  /* Define 2 column template */
  @include layout-two-col-template();

  background: {
    color: $BODY_BACKGROUND_COLOR;
  }

  margin-left: $LEFT_SIDE_BAR_WIDTH;

  &>.content-header {
    position: relative;
    padding: 15px;

    &>.breadcrumb {
      float: right;
      background: transparent;
      margin-top: 0px;
      margin-bottom: 0;
      font-size: 12px;
      padding: 7px 5px;
      position: absolute;
      top: 15px;
      right: 10px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;

      &>li {
        &>a {
          color: #444;
          text-decoration: none;

          & .fa {
            margin-right: 5px;
          }

          & .glyphicon {
            margin-right: 5px;
          }

          & .ion {
            margin-right: 5px;
          }
        }
      }

      &>li+li:before {
        content: '>\00a0';
      }
    }

    &>h1 {
      margin: 0;
      font-size: 24px;

      &>small {
        font-size: 15px;
        display: inline-block;
        padding-left: 4px;
        font-weight: 300;
      }
    }
  }
}

/*left side - contains sidebar*/
.left-side {
  /* Define 2 column template */
  @include layout-two-col-template();
  position: absolute;
  width: $LEFT_SIDE_BAR_WIDTH;
  top: 0;
}

/* breadcrumb */
.breadcrumb {
  background-color: $WHITE;

  a {
    color: $DARK_BLACK;
  }
}

/* breadcrumb-alt */
.breadcrumb-alt {
  overflow: hidden;
  list-style: none;
  margin: 0px 0px 20px;
  padding: 0px;
  width: 100%;

  &>li {
    float: left;
    margin: 0px 25px 0px 0px;

    &>a {
      position: relative;
      float: left;
      background-color: rgb(238, 238, 238);
      color: rgb(118, 118, 118);
      font-size: 12px;
      padding: 10px;

      &::before {
        position: absolute;
        top: 50%;
        left: -1em;
        margin-top: -1.6em;
        border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238) rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 1.5em 0px 1.7em 1em;
        content: '';
      }

      &::after {
        position: absolute;
        top: 50%;
        right: -1em;
        margin-top: -1.5em;
        border-bottom: 1.5em solid rgba(0, 0, 0, 0);
        border-left: 1em solid rgb(238, 238, 238);
        border-top: 1.5em solid rgba(0, 0, 0, 0);
        content: '';
      }
    }
  }
}

/* Content */
.content {
  padding: $CONTENT_PADDING;
  background: $CONTENT_BACKGROUND_COLOR;
  overflow: auto;
}

/* Utility */
/* H1 - H6 font */
h1 {
  font-family: $FONT_FAMILLY;
}

h2 {
  font-family: $FONT_FAMILLY;
}

h3 {
  font-family: $FONT_FAMILLY;
}

h4 {
  font-family: $FONT_FAMILLY;
}

h5 {
  font-family: $FONT_FAMILLY;
}

h6 {
  font-family: $FONT_FAMILLY;
}

.h1 {
  font-family: $FONT_FAMILLY;
}

.h2 {
  font-family: $FONT_FAMILLY;
}

.h3 {
  font-family: $FONT_FAMILLY;
}

.h4 {
  font-family: $FONT_FAMILLY;
}

.h5 {
  font-family: $FONT_FAMILLY;
}

.h6 {
  font-family: $FONT_FAMILLY;
}

/* Page Header */
.page-header {
  margin: 10px 0 20px 0;

  font: {
    size: $PAGE_HEADER_FONT_SIZE;
  }

  >small {
    color: $PAGE_HEADER_SMALL_COLOR;
    display: block;

    margin: {
      top: 5px;
    }
  }
}

/* All images should be responsive */
img {
  max-width: 100% !important;
}

.sort-highlight {
  background: #f4f4f4;
  border: 1px dashed #ddd;

  margin: {
    bottom: 10px;
  }
}

/* 10px padding and margins */
.pad {
  padding: 20px 10px 10px;
}

.margin {
  margin: 10px;
}

.pad-20 {
  padding: 20px;
}

/* Display inline */
.inline {
  display: inline;
}

/*alert*/
.alert-danger {
  background-color: $ALERT_DANGER_BACKGROUND_COLOR;
}

.alert-success {
  background-color: $ALERT_SUCCESS_BACKGROUND_COLOR;
}

.alert-warning {
  background-color: $ALERT_WARNING_BACKGROUND_COLOR;
}

/*badge */
.badge {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.badge-success {
  background-color: $BADGE_SUCCESS_BACKGROUND_COLOR;
  color: $BADGE_SUCCESS_COLOR;
}

.badge-warning {
  background-color: $BADGE_WARNING_BACKGROUND_COLOR;
  color: $BADGE_WARNING_COLOR;
}

.badge-info {
  background-color: $BADGE_INFO_BACKGROUND_COLOR;
  color: $BADGE_INFO_COLOR;
}

.badge-danger {
  background-color: $BADGE_DANGER_BACKGROUND_COLOR;
  color: $BADGE_DANGER_COLOR;
}

.badge-primary {
  background-color: $BADGE_PRIMARY_BACKGROUND_COLOR;
}

.badge-inverse {
  background-color: $BADGE_INVERSE_BACKGROUND_COLOR;
  color: $BADGE_INVERSE_COLOR;
}

/*label*/
.label {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.label-primary {
  background-color: $LABEL_PRIMARY_BACKGROUND_COLOR;
}

.label-default {
  background-color: $LABEL_DEFAULT_BACKGROUND_COLOR;

}

.label-success {
  background-color: $LABEL_SUCCESS_BACKGROUND_COLOR;
  color: $LABEL_SUCCESS_COLOR;
}

.label-info {
  background-color: $LABEL_INFO_BACKGROUND_COLOR;
  color: $LABEL_INFO_COLOR;
}

.label-inverse {
  background-color: $LABEL_INVERSE_BACKGROUND_COLOR;
  color: $LABEL_INVERSE_COLOR;
}

.label-warning {
  background-color: $LABEL_WARNING_BACKGROUND_COLOR;
  color: $LABEL_WARNING_COLOR;
}

.label-danger {
  background-color: $LABEL_DANGER_BACKGROUND_COLOR;
  color: $LABEL_DANGER_COLOR;
}

/* Background colors */
.bg-red {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_RED_BACKGROUND_COLOR !important;
}

.bg-yellow {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_YELLOW_BACKGROUND_COLOR !important;
}

.bg-aqua {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_AQUA_BACKGROUND_COLOR !important
}

.bg-blue {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_BLUE_BACKGROUND_COLOR !important;
}

.bg-light-blue {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_LIGHT_BLUE_BACKGROUND_COLOR !important;
}

.bg-green {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_GREEN_BACKGROUND_COLOR !important;
}

.bg-navy {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_NAVY_BACKGROUND_COLOR !important;
}

.bg-teal {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_TEAL_BACKGROUND_COLOR !important;
}

.bg-olive {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_OLIVE_BACKGROUND_COLOR !important;
}

.bg-lime {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_LIME_BACKGROUND_COLOR !important;
}

.bg-orange {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_ORANGE_BACKGROUND_COLOR !important;
}

.bg-fuchsia {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_FUSHSIA_BACKGROUND_COLOR !important;
}

.bg-purple {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_PURPLE_BACKGROUND_COLOR !important;
}

.bg-maroon {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_MAROON_BACKGROUND_COLOR !important;
}

.bg-black {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_BLACK_BACKGROUND_COLOR !important;
}

.bg-violet {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_VIOLET_BACKGROUND_COLOR !important;
}

.bg-white {
  background-color: $BG_WHITE_BACKGROUND_COLOR !important;
}

.bg-gray {
  background-color: $BG_GREY_BACKGROUND_COLOR !important;
}

.bg-twitter {
  background-color: $BG_TWITTER_BACKGROUND_COLOR;
  color: white;
}

.bg-facebook {
  background-color: $BG_FACEBOOK_BACKGROUND_COLOR;
  color: white;
}

.bg-google-plus {
  background-color: $BG_GOOGLE_PLUS_BACKGROUND_COLOR;
  color: white;
}

.twt-area {
  border: {
    bottom: 1px dotted $TEXT_AREA_BORDER_COLOR;
  }

  margin: {
    bottom: 5px;
  }

  padding: {
    bottom: 3px;
  }

  textarea {
    margin: {
      bottom: 3px;
    }
  }
}

.m-lr-10 {
  margin: {
    left: 10px;
    right: 10px;
  }
}

.m-t-15 {
  margin: {
    top: 15px;
  }
}

.m-b-5 {
  margin: {
    bottom: 5px;
  }
}

.m-b-10 {
  margin: {
    bottom: 10px;
  }
}

.m-b-15 {
  margin: {
    bottom: 15px;
  }
}

.m-b-20 {
  margin: {
    bottom: 20px;
  }
}

/* teammates  */
.teammates {
  a {
    color: $TEAMMATES_LINK_COLOR;
  }

  img {
    border: {
      radius: 5px;
    }

    margin: {
      right: 10px;
    }
  }

  li {
    border: {
      width: $TEAMMATES_LI_BODER_WIDTH;
      style: $TEAMMATES_LI_BODER_STYLE;
      color: #edf1f2;
    }
  }
}

/* Text colors */
.text-primary {
  color: $TEXT_PRIMARY_COLOR;
}

.text-info {
  color: $TEXT_INFO_COLOR;
}

.text-success {
  color: $TEXT_SUCCESS_COLOR;
}

.text-warning {
  color: $TEXT_WARNING_COLOR;
}

.text-red {
  color: $TEXT_RED_COLOR !important;
}

.text-yellow {
  color: $TEXT_YELLOW_COLOR !important;
}

.text-aqua {
  color: $TEXT_AQUA_COLOR !important;
}

.text-blue {
  color: $TEXT_BLUE_COLOR !important;
}

.text-black {
  color: $TEXT_BLACK_COLOR !important;
}

.text-light-blue {
  color: $TEXT_LIGHT_BLUE_COLOR !important;
}

.text-green {
  color: $TEXT_GREEN_COLOR !important;
}

.text-navy {
  color: $TEXT_NAVY_COLOR !important;
}

.text-teal {
  color: $TEXT_TEAL_COLOR !important;
}

.text-olive {
  color: $TEXT_OLIVE_COLOR !important;
}

.text-lime {
  color: $TEXT_LIME_COLOR !important;
}

.text-orange {
  color: $TEXT_ORANGE_COLOR !important;
}

.text-fuchsia {
  color: $TEXT_FUCHSIA_COLOR !important;
}

.text-purple {
  color: $TEXT_PURPLE_COLOR !important;
}

.text-maroon {
  color: $TEXT_MAROON_COLOR !important;
}

/*slider css*/
#red {
  .slider-selection {
    background: $RED;
  }
}

#blue {
  .slider-selection {
    background: $BLUE;
  }
}

#green {
  .slider-selection {
    background: $GREEN;
  }
}

#yellow {
  .slider-selection {
    background: $YELLOW;
  }
}

#aqua {
  .slider-selection {
    background: $AQUA;
  }
}

#purple {
  .slider-selection {
    background: $PURPLE;
  }
}

.slider-handle {
  background: {
    color: $WHITE;
  }

  border: {
    width: 2px;
    style: solid;
    color: $SLIDER_HANDLE_BORDER_COLOR;
  }
}

/*Hide elements by display none only*/
.hide {
  display: none !important;
}

/* Remove borders */
.no-border {
  border: 0px !important;
}

/* Remove padding */
.no-padding {
  padding: 0px !important;
}

/* Remove margins */
.no-margin {
  margin: 0px !important;
}

/* Remove box shadow */
.no-shadow {
  box-shadow: none !important;
}

/* Remove border radius */
.flat {
  border-radius: 0 !important;
}

/* Change the color of the striped tables */
// .table-striped > tbody > tr:nth-child(odd) > td,
// .table-striped > tbody > tr:nth-child(odd) > th {
//   @include back-color-table-striped();
// }

.table-striped {
  &>tbody {
    &>tr:nth-child(odd) {
      td {
        @include back-color-table-striped();
      }

      th {
        @include back-color-table-striped();
      }
    }
  }
}

// .table.no-border,
// .table.no-border td,
// .table.no-border th {
//   border: 0;
// }

.table {
  .no-border {
    border: 0;

    th {
      border: 0;
    }

    td {
      border: 0;
    }
  }

  /* .text-center in tables */
  .text-center {
    text-align: center;

    td {
      text-align: right;
    }

    th {
      text-align: left;
    }
  }
}

.text-bold {
  font-weight: 700;

  .text-bold.table td {
    font-weight: 700;
  }

  .text-bold.table th {
    font-weight: 700;
  }
}

.border-radius-none {
  border-radius: 0 !important;
}

/*
Gradient Background colors
*/
.bg-teal-gradient {
  @include background-linear-gradiant($TEAL, $TEAL_GRADIANT_SECONDARY_COLOR);
  color: $WHITE;
}

.bg-light-blue-gradient {
  @include background-linear-gradiant($LIGHT_BLUE, $LIGHT_BLUE_GRADIANT_SECONDARY_COLOR);
  color: $WHITE;
}

.bg-blue-gradient {
  @include background-linear-gradiant($MAIN_BLUE, $MAIN_BLUE_GRADIANT_SECONDARY_COLOR);
  color: $WHITE;
}

.bg-aqua-gradient {
  @include background-linear-gradiant($AQUA, $AQUA_GRADIANT_SECONDARY_COLOR);
  color: $WHITE;
}

.bg-yellow-gradient {
  @include background-linear-gradiant($MAIN_YELLOW, $MAIN_YELLOW_GRADIANT_SECONDARY_COLOR);
  color: $WHITE;
}

.bg-purple-gradient {
  @include background-linear-gradiant($PURPLE, $MAIN_PURPLE_GRADIANT_SECONDARY_COLOR);
  color: $WHITE;
}

.bg-green-gradient {
  @include background-linear-gradiant($MAIN_GREEN, $MAIN_GREEN_GRADIANT_SECONDARY_COLOR);
  color: $WHITE;
}

.bg-red-gradient {
  @include background-linear-gradiant($MAIN_RED, $MAIN_RED_GRADIANT_SECONDARY_COLOR);
  color: $WHITE;
}

.bg-black-gradient {
  @include background-linear-gradiant($MAIN_BLACK, $MAIN_BLACK_GRADIANT_SECONDARY_COLOR);
  color: #fff;
}

.bg-maroon-gradient {
  @include background-linear-gradiant($MAIN_MAROON, $MAIN_MAROON_GRADIANT_SECONDARY_COLOR);
  color: #fff;
}

.connectedSortable {
  min-height: 100px;
}

/*
    Component: Sidebar
--------------------------
*/
.sidebar {
  margin-bottom: 5px;

  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &>li {
      margin: 0;
      padding: 0;

      &>a {
        padding: 12px 5px 12px 15px;
        display: block;

        &>.fa {
          width: 20px;
        }

        &>.glyphicon {
          width: 20px;
        }

        &>.ion {
          width: 20px;
        }
      }
    }

    .treeview-menu {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;

      &>li {
        margin: 0;

        &>a {
          padding: 8px 5px 8px 15px;
          display: block;
          font-size: 14px;
          margin: 0px 0px;

          &>.fa {
            width: 20px;
          }

          &>.glyphicon {
            width: 20px;
          }

          &>.ion {
            width: 20px;
          }
        }
      }
    }
  }

  .sidebar-form {
    input {
      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: transparent !important;
      }
    }

  }
}

/*

user-panel

*/
.user-panel {
  padding: 10px;

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }

  &>.image {
    &>img {
      width: 45px;
      height: 45px;
    }
  }

  &>.info {
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1;

    &>p {
      margin-bottom: 9px;
    }

    &>a {
      text-decoration: none;
      padding-right: 5px;
      margin-top: 3px;
      font-size: 11px;
      font-weight: normal;

      &>.fa {
        margin-right: 3px;
      }

      &>.ion {
        margin-right: 3px;
      }

      &>.glyphicon {
        margin-right: 3px;
      }
    }
  }
}

/*
----------------------------
    Dropdown menus
----------------------------
*/
/*Dropdowns in general*/
.dropdown-menu {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2300;

  &>li {
    &>a {
      &:hover {
        background-color: $LIGHT_BLUE;
        color: $BG_COLOR_COLOR;
      }

      &>.fa {
        margin-right: 10px;
      }

      &>.glyphicon {
        margin-right: 10px;
      }

      &>.ion {
        margin-right: 10px;
      }
    }
  }
}

.dropdown-menu-right {
  &>li {
    &>a {
      &:hover {
        background-color: $DROPDOWN_MENU_RIGHHT_COLOR;
        color: $BG_COLOR_COLOR;
      }
    }
  }
}

/*
------------------------------------
   TODO: Navbar custom dropdown menu
------------------------------------
*/
.navbar-nav>.notifications-menu>.dropdown-menu,
.navbar-nav>.messages-menu>.dropdown-menu,
.navbar-nav>.tasks-menu>.dropdown-menu {
  width: 260px;
  padding: 0 0 0 0 !important;
  margin: 0 !important;
  top: 100%;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.header,
.navbar-nav>.messages-menu>.dropdown-menu>li.header,
.navbar-nav>.tasks-menu>.dropdown-menu>li.header {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.header:after,
.navbar-nav>.messages-menu>.dropdown-menu>li.header:after,
.navbar-nav>.tasks-menu>.dropdown-menu>li.header:after {
  bottom: 100%;
  left: 92%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f4;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444444;
  text-align: center;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a:hover,
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a:hover {
  background: #f4f4f4;
  text-decoration: none;
  font-weight: normal;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover {
  background: #fafafa;
  text-decoration: none;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
  font-size: 12px;
  color: #444444;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>i {
  border-radius: 30px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion {
  font-size: 20px;
  width: 50px;
  text-align: center;
  padding: 15px 0px;
  margin-right: 5px;
  /* Default background and font colors */
  background: $AQUA;
  color: $BG_COLOR_COLOR;
  /* Fallback for browsers that doesn't support rgba */
  color: rgba(255, 255, 255, 0.7);
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon.danger,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa.danger,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion.danger {
  background: $MAIN_RED;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon.warning,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa.warning,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion.warning {
  background: $MAIN_YELLOW;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon.success,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa.success,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion.success {
  background: $MAIN_GREEN;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon.info,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa.info,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion.info {
  background: $AQUA;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a {
  margin: 0px;
  line-height: 20px;
  padding: 10px 5px 10px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4>small {
  color: #999999;
  font-size: 10px;
  float: right;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:before,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:after {
  display: table;
  content: " ";
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:after {
  clear: both;
}

.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
  padding: 10px;
}

.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666666;
}

.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>.progress {
  padding: 0;
  margin: 0;
}

.navbar-nav>.user-menu>.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  border-top-width: 0;
  width: 225px;
}

.navbar-nav>.user-menu>.dropdown-menu:after {
  bottom: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #f9fafc;
  border-width: 10px;
  margin-left: -10px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: 175px;
  padding: 10px;
  background: $LIGHT_BLUE;
  text-align: center;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 8px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  z-index: 5;
  color: $BG_COLOR_COLOR;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  text-shadow: 2px 2px 3px #333333;
  margin-top: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
  display: block;
  font-size: 12px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-body:before,
.navbar-nav>.user-menu>.dropdown-menu>li.user-body:after {
  display: table;
  content: " ";
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-body:after {
  clear: both;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-body>div>a {
  color: $MAIN_BLUE;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-footer {
  background-color: $BG_COLOR_COLOR;
  padding: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-footer:before,
.navbar-nav>.user-menu>.dropdown-menu>li.user-footer:after {
  display: table;
  content: " ";
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-footer:after {
  clear: both;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-footer .btn-default {
  color: #666666;
}


/* TODO: Add fade animation to dropdown menus */


/**
  --------------------------------------------------
    Media queries
  --------------------------------------------------
*/

/*
* Off Canvas
*  -> Gives us the push menu effect
*/

@media screen and (max-width: 992px) {
  .relative {
    position: relative;
  }

  /*Give content full width on xs screens*/
  .right-side {
    margin: {
      left: 0;
    }
  }

  .row-offcanvas-right {
    .sidebar-offcanvas {
      right: -220px;
    }

    .active {
      right: 220px;
    }
  }

  .row-offcanvas-left {
    .sidebar-offcanvas {
      left: -220px;
    }

    .active {
      left: 220px;
    }
  }

  .sidebar-offcanvas {
    left: 0;
  }

  body.fixed .sidebar-offcanvas {
    margin-top: 50px;
    left: -220px;
  }

  body.fixed .row-offcanvas-left.active .navbar {
    left: 220px !important;
    right: 0;
  }

  body.fixed .row-offcanvas-left.active .sidebar-offcanvas {
    left: 0px;
  }
}

@media screen and (min-width: 992px) {
  .left-side {
    top: $HEADER_HEIGHT;

    /* Left side collapse */
    .collapse-left {
      left: -$LEFT_SIDE_BAR_WIDTH;
    }
  }

  /*Right side strech mode*/
  .right-side {
    .strech {
      margin: {
        left: 0;
      }

      >.content-header {
        margin: {
          top: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .right-side {
    &>.content-header {
      &>.breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        background: #efefef;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    margin: 0;
    float: left;

    .navbar-nav {
      &>li {
        float: left;

        &>a {
          padding-top: 15px;
          padding-bottom: 15px;
          line-height: 20px;
        }
      }
    }

    .navbar-right {
      float: right;
    }
  }
}

@media screen and (max-width: 560px) {
  body {
    section {
      div {
        header {
          position: relative;

          .logo {
            width: 100%;
            float: none;
            position: relative !important;
          }

          .navbar {
            width: 100%;
            float: none;
            position: relative !important;
            margin: 0;
          }
        }
      }
    }

    .fixed {
      &>.header {
        position: fixed;
      }

      &>.wrapper {
        margin-top: 100px !important;
      }

      &>.sidebar-offcanvas {
        margin-top: 100px !important;
      }
    }
  }
}

/* Don't display when printing */
@media print {
  .no-print {
    display: none;
  }

  .left-side,
  .header,
  .content-header {
    display: none;
  }

  .right-side {
    margin: 0;
  }
}
