@import "./app.var.style";

.containersCustom {
    padding-left: $CONTAINER_CUSTOM_PADDING_LEFT;
    padding-right: $CONTAINER_CUSTOM_PADDING_RIGHT;
}

.invisible {
  opacity: 0;
}

.view-enter {
   animation: fadeIn 0.5s both ease-in;
   z-index: 9999;
 }

.animatedViews {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
