// vars
$BODY_BACKGROUND_COLOR: #F1F2F3;
$FONT_FAMILLY: 'Lato', sans-serif;


$LINK_COLOR: #3c8dbc;
$LINK_SELECTED_COLOR: #72afd2;

$LEFT_SIDE_BAR_WIDTH: 220px;
$HEADER_HEIGHT : 50px;

$CONTENT_BACKGROUND_COLOR: #f0f3f4;
$CONTENT_PADDING: 20px 15px; 

$PAGE_HEADER_FONT_SIZE: 22px;
$PAGE_HEADER_SMALL_COLOR: #666;

$ALERT_DANGER_BACKGROUND_COLOR: #fad5d5;
$ALERT_SUCCESS_BACKGROUND_COLOR: #cffabd;
$ALERT_WARNING_BACKGROUND_COLOR: #fcf4c9;

$BADGE_SUCCESS_BACKGROUND_COLOR: #27C24C;
$BADGE_SUCCESS_COLOR: #DFF5E4;
$BADGE_WARNING_BACKGROUND_COLOR: #FAD733;
$BADGE_WARNING_COLOR: #FDF8E5;
$BADGE_INFO_BACKGROUND_COLOR: #23B7E5;
$BADGE_INFO_COLOR: #E3F6FC;
$BADGE_DANGER_BACKGROUND_COLOR: #F05050;
$BADGE_DANGER_COLOR: #FAE6E6;
$BADGE_PRIMARY_BACKGROUND_COLOR: #4697ce;
$BADGE_INVERSE_BACKGROUND_COLOR: #4f5259;
$BADGE_INVERSE_COLOR: #DFE2F0;

$LABEL_PRIMARY_BACKGROUND_COLOR: #4697ce;
$LABEL_DEFAULT_BACKGROUND_COLOR: #a1a1a1;
$LABEL_SUCCESS_BACKGROUND_COLOR: #27C24C;
$LABEL_SUCCESS_COLOR: #DFF5E4;
$LABEL_INFO_BACKGROUND_COLOR: #23B7E5;
$LABEL_INFO_COLOR: #E3F6FC;
$LABEL_INVERSE_BACKGROUND_COLOR: #4f5259;
$LABEL_INVERSE_COLOR: #DFE2F0;
$LABEL_WARNING_BACKGROUND_COLOR: #FAD733;
$LABEL_WARNING_COLOR: #FDF8E5;
$LABEL_DANGER_BACKGROUND_COLOR: #F05050;
$LABEL_DANGER_COLOR: #FAE6E6;

$BG_COLOR_COLOR: #f9f9f9;
$BG_WHITE_BACKGROUND_COLOR: #fff;
$BG_GREY_BACKGROUND_COLOR: #eaeaec;
$BG_BLACK_BACKGROUND_COLOR: #222222;
$BG_RED_BACKGROUND_COLOR: #F05050;
$BG_YELLOW_BACKGROUND_COLOR:#FAD733;
$BG_AQUA_BACKGROUND_COLOR:#4FC1E9;
$BG_BLUE_BACKGROUND_COLOR:#0073b7;
$BG_LIGHT_BLUE_BACKGROUND_COLOR:#3c8dbc;
$BG_GREEN_BACKGROUND_COLOR:#27C24C;
$BG_NAVY_BACKGROUND_COLOR:#001f3f;
$BG_TEAL_BACKGROUND_COLOR:#39cccc;
$BG_OLIVE_BACKGROUND_COLOR:#3d9970;
$BG_LIME_BACKGROUND_COLOR:#01ff70;
$BG_ORANGE_BACKGROUND_COLOR:#ff851b;
$BG_FUSHSIA_BACKGROUND_COLOR:#f012be;
$BG_PURPLE_BACKGROUND_COLOR:#932ab6;
$BG_MAROON_BACKGROUND_COLOR:#85144b;
$BG_VIOLET_BACKGROUND_COLOR:#7266ba;
$BG_TWITTER_BACKGROUND_COLOR:#00c7f7;
$BG_FACEBOOK_BACKGROUND_COLOR:#335397;
$BG_GOOGLE_PLUS_BACKGROUND_COLOR:#df4a32;

$TEXT_AREA_BORDER_COLOR: #EEE;

$TEAMMATES_LINK_COLOR: #505050;
$TEAMMATES_LI_BODER_COLOR: #edf1f2;
$TEAMMATES_LI_BODER_WIDTH: 1px;
$TEAMMATES_LI_BODER_STYLE: solid;

$TEXT_PRIMARY_COLOR: #4697ce;
$TEXT_INFO_COLOR: #63b7e6;
$TEXT_SUCCESS_COLOR: #7dcc93;
$TEXT_WARNING_COLOR: #e8db4f;
$TEXT_RED_COLOR: #f56954;
$TEXT_YELLOW_COLOR: #f39c12;
$TEXT_AQUA_COLOR: #00c0ef;
$TEXT_BLUE_COLOR: #0073b7;
$TEXT_BLACK_COLOR: #222222;
$TEXT_LIGHT_BLUE_COLOR: #3c8dbc;
$TEXT_GREEN_COLOR: #00a65a;
$TEXT_NAVY_COLOR: #001f3f;
$TEXT_TEAL_COLOR: #39cccc;
$TEXT_OLIVE_COLOR: #3d9970;
$TEXT_LIME_COLOR: #01ff70;
$TEXT_ORANGE_COLOR: #ff851b;
$TEXT_FUCHSIA_COLOR: #f012be;
$TEXT_PURPLE_COLOR: #932ab6;
$TEXT_MAROON_COLOR: #85144b;


// mixins:
@mixin html-body {
  overflow-x: hidden!important;
  font-family: $FONT_FAMILLY;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: $BODY_BACKGROUND_COLOR;
}

@mixin link-selected($color) {
  outline: none;
  text-decoration: none;
  color: $color;
}

@mixin layout-two-col-template {
  min-height: 100%;
  display: block;
}

// theme:
html {
  @include html-body();
}

body {
  @include html-body();

  /* Header */
  section {
    div {
      header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
      }
    }
  }

  /*
      By default the layout is not fixed but if you add the class .fixed to the body element
      the sidebar and the navbar will automatically become poisitioned fixed
  */
  .fixed {
    > .header {
      position: fixed;
    }

    .left-side {
      position: fixed;
    }

    .navbar {
      position: fixed;
      left: 0;
      right: 0;
    }

    > .header {
      top: 0;
      right: 0;
      left: 0;
    }

    .wrapper {
      margin: {
        top: $HEADER_HEIGHT;
      }
    }
  }
}

a {
  color:$LINK_COLOR;

  &:hover {
    @include link-selected($LINK_SELECTED_COLOR);
  }
  
  &:active {
    @include link-selected($LINK_SELECTED_COLOR);
  }
  
  &:focus {
    @include link-selected($LINK_SELECTED_COLOR);
  }
}

/* Layouts */
.wrapper {
  min-height: 100%;

  &:before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

/*right side - contins main content*/
.right-side {
  /* Define 2 column template */
  @include layout-two-col-template();
  background: {
    color: $BODY_BACKGROUND_COLOR;
  }
  margin-left: $LEFT_SIDE_BAR_WIDTH;
}

/*left side - contains sidebar*/
.left-side {
  /* Define 2 column template */
  @include layout-two-col-template();
  position: absolute;
  width: $LEFT_SIDE_BAR_WIDTH;
  top: 0;
}

@media screen and (min-width: 992px) {
  .left-side {
    top: $HEADER_HEIGHT;

    /* Left side collapse */
    .collapse-left {
      left: -$LEFT_SIDE_BAR_WIDTH;
    }
  }
  /*Right side strech mode*/
  .right-side {
    .strech {
      margin: {
        left: 0;
      }

      > .content-header {
        margin: {
          top: 0px;
        }
      }
    } 
  }
}
/*Give content full width on xs screens*/
@media screen and (max-width: 992px) {
  .right-side {
    margin: {
      left: 0;
    }
  }
}

/* Content */
.content {
  padding: $CONTENT_PADDING;
  background:$CONTENT_BACKGROUND_COLOR;
  overflow: auto;
}

/* Utility */
/* H1 - H6 font */
h1 {
  font-family: $FONT_FAMILLY;
}
h2 {
  font-family: $FONT_FAMILLY;
}
h3 {
  font-family: $FONT_FAMILLY;
}
h4 {
  font-family: $FONT_FAMILLY;
}
h5 {
  font-family: $FONT_FAMILLY;
}
h6 {
  font-family: $FONT_FAMILLY;
}
.h1 {
  font-family: $FONT_FAMILLY;
}
.h2 {
  font-family: $FONT_FAMILLY;
}
.h3 {
  font-family: $FONT_FAMILLY;
}
.h4 {
  font-family: $FONT_FAMILLY;
}
.h5 {
  font-family: $FONT_FAMILLY;
}
.h6 {
  font-family: $FONT_FAMILLY;
}

/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font: {
    size: $PAGE_HEADER_FONT_SIZE;
  }

  > small {
    color: $PAGE_HEADER_SMALL_COLOR;
    display: block;
    margin: {
      top: 5px;
    }
  }
}

/* All images should be responsive */
img {
  max-width: 100% !important;
}
.sort-highlight {
  background: #f4f4f4;
  border: 1px dashed #ddd;
  margin: {
    bottom: 10px;
  }
}

/* 10px padding and margins */
.pad {
  padding: 20px 10px 10px;
}
.margin {
  margin: 10px;
}
.pad-20 {
  padding: 20px;
}

/* Display inline */
.inline {
  display: inline;
}

/*alert*/
.alert-danger {
  background-color: $ALERT_DANGER_BACKGROUND_COLOR;
}
.alert-success {
  background-color: $ALERT_SUCCESS_BACKGROUND_COLOR;
}
.alert-warning {
  background-color: $ALERT_WARNING_BACKGROUND_COLOR;
}

/*badge */
.badge {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.badge-success {
  background-color: $BADGE_SUCCESS_BACKGROUND_COLOR;
  color: $BADGE_SUCCESS_COLOR;
}
.badge-warning {
  background-color: $BADGE_WARNING_BACKGROUND_COLOR;
  color: $BADGE_WARNING_COLOR;
}
.badge-info {
  background-color: $BADGE_INFO_BACKGROUND_COLOR;
  color: $BADGE_INFO_COLOR;
}
.badge-danger {
  background-color: $BADGE_DANGER_BACKGROUND_COLOR;
  color: $BADGE_DANGER_COLOR;
}
.badge-primary {
  background-color: $BADGE_PRIMARY_BACKGROUND_COLOR;
}
.badge-inverse {
  background-color: $BADGE_INVERSE_BACKGROUND_COLOR;
  color: $BADGE_INVERSE_COLOR;
}

/*label*/
.label {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.label-primary {
  background-color: $LABEL_PRIMARY_BACKGROUND_COLOR;
}
.label-default {
  background-color: $LABEL_DEFAULT_BACKGROUND_COLOR;

}
.label-success {
  background-color:$LABEL_SUCCESS_BACKGROUND_COLOR;
  color: $LABEL_SUCCESS_COLOR;
}
.label-info {
  background-color: $LABEL_INFO_BACKGROUND_COLOR;
  color: $LABEL_INFO_COLOR;
}
.label-inverse {
  background-color: $LABEL_INVERSE_BACKGROUND_COLOR;
  color: $LABEL_INVERSE_COLOR;
}
.label-warning {
  background-color: $LABEL_WARNING_BACKGROUND_COLOR;
  color: $LABEL_WARNING_COLOR;
}
.label-danger {
  background-color: $LABEL_DANGER_BACKGROUND_COLOR;
  color: $LABEL_DANGER_COLOR;
}

/* Background colors */
.bg-red {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_RED_BACKGROUND_COLOR !important;
}
.bg-yellow {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_YELLOW_BACKGROUND_COLOR !important;
}
.bg-aqua {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_AQUA_BACKGROUND_COLOR !important
}
.bg-blue {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_BLUE_BACKGROUND_COLOR !important;
}
.bg-light-blue {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_LIGHT_BLUE_BACKGROUND_COLOR !important;
}
.bg-green {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_GREEN_BACKGROUND_COLOR  !important;
}
.bg-navy {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_NAVY_BACKGROUND_COLOR !important;
}
.bg-teal {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_TEAL_BACKGROUND_COLOR !important;
}
.bg-olive {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_OLIVE_BACKGROUND_COLOR !important;
}
.bg-lime {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_LIME_BACKGROUND_COLOR !important;
}
.bg-orange {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_ORANGE_BACKGROUND_COLOR !important;
}
.bg-fuchsia {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_FUSHSIA_BACKGROUND_COLOR !important;
}
.bg-purple {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_PURPLE_BACKGROUND_COLOR !important;
}
.bg-maroon {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_MAROON_BACKGROUND_COLOR !important;
}
.bg-black {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_BLACK_BACKGROUND_COLOR !important;
}
.bg-violet {
  color: $BG_COLOR_COLOR !important;
  background-color: $BG_VIOLET_BACKGROUND_COLOR !important;
}
.bg-white {
  background-color: $BG_WHITE_BACKGROUND_COLOR !important;
}
.bg-gray {
  background-color: $BG_GREY_BACKGROUND_COLOR !important;
}
.bg-twitter {
  background-color: $BG_TWITTER_BACKGROUND_COLOR;
  color: white;
}
.bg-facebook {
  background-color: $BG_FACEBOOK_BACKGROUND_COLOR;
  color: white;
}
.bg-google-plus {
  background-color: $BG_GOOGLE_PLUS_BACKGROUND_COLOR;
  color: white;
}

.twt-area {
  border: {
    bottom: 1px dotted $TEXT_AREA_BORDER_COLOR;
  }
  margin: {
    bottom: 5px;
  }
  padding: {
    bottom: 3px;
  }
  textarea {
    margin: {
      bottom: 3px;
    }
  }
}

.m-lr-10 {
  margin: {
    left: 10px;
    right: 10px;
  }
}
.m-t-15 {
  margin: {
    top: 15px;
  }
}
.m-b-5 {
  margin: {
    bottom: 5px;
  }
}
.m-b-10 {
  margin: {
    bottom: 10px;
  }
}
.m-b-15 {
  margin: {
    bottom: 15px;
  }
}
.m-b-20 {
  margin: {
    bottom: 20px;
  }
}

/* teammates  */
.teammates {
  a {
    color:$TEAMMATES_LINK_COLOR;
  }
  img {
    border: {
      radius: 5px;
    }
    margin: {
      right: 10px;
    }
  }
  li {
    border: {
      width: $TEAMMATES_LI_BODER_WIDTH;
      style: $TEAMMATES_LI_BODER_STYLE;
      color: #edf1f2;
    }
  }
}

/* Text colors */
.text-primary {
  color: $TEXT_PRIMARY_COLOR;
}
.text-info {
  color: $TEXT_INFO_COLOR;
}
.text-success {
  color: $TEXT_SUCCESS_COLOR;
}
.text-warning {
  color: $TEXT_WARNING_COLOR;
}
.text-red {
  color: $TEXT_RED_COLOR !important;
}
.text-yellow {
  color: $TEXT_YELLOW_COLOR !important;
}
.text-aqua {
  color: $TEXT_AQUA_COLOR !important;
}
.text-blue {
  color: $TEXT_BLUE_COLOR !important;
}
.text-black {
  color: $TEXT_BLACK_COLOR !important;
}
.text-light-blue {
  color: $TEXT_LIGHT_BLUE_COLOR !important;
}
.text-green {
  color: $TEXT_GREEN_COLOR !important;
}
.text-navy {
  color: $TEXT_NAVY_COLOR !important;
}
.text-teal {
  color: $TEXT_TEAL_COLOR !important;
}
.text-olive {
  color: $TEXT_OLIVE_COLOR !important;
}
.text-lime {
  color: $TEXT_LIME_COLOR !important;
}
.text-orange {
  color: $TEXT_ORANGE_COLOR !important;
}
.text-fuchsia {
  color: $TEXT_FUCHSIA_COLOR !important;
}
.text-purple {
  color: $TEXT_PURPLE_COLOR !important;
}
.text-maroon {
  color: $TEXT_MAROON_COLOR !important;
}

/*slider css*/
