.right-side--top-margin {
  margin-top: 60px;
}

.aside-right-animated {
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}

.right-side.strech {
    margin-left: 0 !important;
}

@media screen and (max-width: 990px) {
  .right-side {
    margin: {
      left: 0px;
    }
  }
}